[Desktop Entry]
Name=Lock Screen
GenericName=Session
X-GNOME-FullName=Lock Screen
Comment=Lock the current session
Exec=/usr/bin/betterlockscreen -l
Icon=better-lock-screen
Terminal=false
Type=Application
Categories=GTK;GNOME;Utility;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Keywords=tool;twm;color;
StartupNotify=true
