# vim: commentstring=#%s

[Desktop Entry]
Version=1.0
Type=Application
Name=Restart Awesome
GenericName=Awesome Restarter
Comment=Restart the awesomewm
Exec=awesome-client "awesome.restart()"
Icon=awesome
Categories=System;
